.sidebar-opened {
  width: 450px;
  background-color: #051425;
  opacity: 95%;
  z-index: 1;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px;
  transition: 0.4s;
}

.sidebar-closed {
  width: 60px;
  background-color: #051425;
  z-index: 1;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px;
  transition: 0.4s;
}

.open-sidebar-btn {
  z-index: 20;
  font-size: 35px;
}

.open-sidebar-btn:hover {
  z-index: 20;
  font-size: 36px;
  cursor: pointer;
}

.close-sidebar-btn {
  padding-left: 380px;
  padding-top: 5px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
