.element-image {
  display: flex;
  width: 250px;
  height: 250px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.add {
  display: flex;
  color: #6096ba;
  border: solid;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  cursor: pointer;
}

.remove {
  display: flex;
  color: #6096ba;
  border: solid;
  border-radius: 10px;
  padding: 10px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

.product-card:hover {
  transform: translate3d(0px, -1px, 0px);
  transition-duration: 0.75s;
}

.item-section {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-evenly;
  width: 100%;
}

.product-price {
  margin-top: 3px;
  margin-bottom: 3px;
}

.product-name {
  margin-bottom: 0px;
}
