.navbar-container {
  background: #12142b;
  display: flex;
  flex-direction: row;
  width: 97.5vw;
  margin-left: auto;
  padding: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex: 1;
  height: 40px;
  font-weight: 500;
  font-size: 1.3rem;
  font: "Segoe UI";
  color: white;
}

.link {
  color: white;
}

.anchor {
  text-decoration: none;
  color: white;
}

.anchor:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.item {
  padding: 40px;
}

html {
  scroll-behavior: smooth;
}

.orders {
  color: white;
}
